[submodule ".claude"]
	path = .claude
	url = git@github.com:Rooftop-Energy-Tech/rooftop-claude-config.git
[submodule ".agents"]
	path = .agents
	url = git@github.com:Rooftop-Energy-Tech/rooftop-agents-config.git
